:root {
    --main-color: #FCFFF5;
    --second-color: #193441;
    --third-color: #3E606F;
    --fourth-color: #91AA9D;
    --fiveth-color: #D1DBBD;
    --title-color: #212121;
    --text-color: #212121;
    --highlight-color: orange;
    --background-color: #ECECEC;
}