.width-custom{
    width:300px;
}
.width-250{
    width:250px;
}
.width-200{
    width:200px;
}
.width-150{
    width:150px;
}
.width-50{
	width:50px;
}
.height-500{
    height:500px;
}

.inline {
    display: inline-block;
}
.border-on{
	border: 1px solid;
}
.margin-bottom-20{
    margin-bottom: 20px;
}

#example_wrapper {
	padding-left: 20px;
}
#example-1_wrapper {
    padding-left: 20px;
}
.display-none{
	display: none;
}
.Timeline {
    display: flex;
    align-items: center;
    height: 250px;
}

.event1,
.event2, .event3 {
    position: relative;
}

.event1Bubble {
    position: absolute;
    background-color: rgba(158, 158, 158, 0.1);
    width: 139px;
    height: 60px;
    top: -70px;
    left: -15px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}

.event2Bubble {
    position: absolute;
    background-color: rgba(158, 158, 158, 0.1);
    width: 139px;
    height: 60px;
    left: -105px;
    top: 33px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}

.event1Bubble:after,
.event1Bubble:before,
.event2Bubble:after,
.event2Bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

.event1Bubble:before {
    bottom: -10px;
    left: 13px;
    border-top-color: rgba(222, 222, 222, 0.66);
    border-width: 12px;
}

.event1Bubble:after {
    bottom: -8px;
    left: 13px;
    border-top-color: #F6F6F6;
    border-width: 12px;
}

.event2Bubble:before {
    bottom: 59px;
    left: 103px;
    border-top-color: rgba(222, 222, 222, 0.66);
    border-width: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.event2Bubble:after {
    bottom: 57px;
    left: 103px;
    border-top-color: #F6F6F6;
    border-width: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.eventTime {
    display: flex;
}

.DayDigit {
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left: 10px;
    color: #4C4A4A;
}

.Day {
    font-size: 11px;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4A4A;
}

.MonthYear {
    font-weight: 600;
    line-height: 10px;
    color: #9E9E9E;
    font-size: 9px;
}

.eventTitle {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #a71930;
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 12px;
    margin-top: -2px;
}

.time {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    font-size: 8px;
    margin-top: -3px;
    margin-left: -5px;
    color: #9E9E9E;
}

.eventAuthor {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #9E9E9E;
    font-size: 8px;
    width: 100px;
    top: -8px;
    left: 63px;
}

.event2Author {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #9E9E9E;
    font-size: 8px;
    width: 100px;
    top: 96px;
    left: -32px;
}

.time2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    font-size: 8px;
    margin-top: -31px;
    margin-left: -5px;
    color: #9E9E9E;
}

.now{
    background-color: #004165;
    color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 4px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    font-weight: bold;
    box-shadow: 0 0 0 2px #004165
}

.futureGray{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  
}

.futureOpacity{
    -webkit-filter: opacity(.3);
    filter: opacity(.3);
}
  
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.book-image {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  transition: 0.3s;
}

.book-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.image_product{
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

.image_product:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.selected img {
    opacity:0.5;
}

.img-thumbnail {
    height: 60px;
    width: 60px;
}

.img-slider {
    max-height: 500px;
    text-align: center;
    display:block;
    margin: auto auto;
}

.btn-icon {
    border: none;
    float: right;
    background-color: #fff;
}

.btn-icon i {
    font-size: 20px;
    color: lightblue;
}
.set-size {
    height: 30px;
    width: 50px;
}

.set-size-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #ddd; 
}

.color-1 {
    background-color: white;  
}

.color-5 {
    background-color: green;
}

.color-3{
    background-color: yellow;
}

.color-2 {
    background-color: black;
}

.color-4 {
    background-color: red;
}

.color-6 {
    background-color: purple;
}

.color-7 {
    background-color: orange;
}

.color-8 {
    background-color: blue;
}

.color-9 {
    background-color: grey;
}
