body {
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.inline {
    display: inline-block;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

:focus {
    outline: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*body{*/
/*background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');*/
/*}*/

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #f2f2f2;
}

.form-signin {
    max-width: 400px;
    display: block;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
    border-radius: 2px;
}

.main {
    padding: 38px;
}

.heading-desc {
    font-size: 20px;
    font-weight: bold;
    padding: 38px 38px 0px 38px;

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;

}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-footer {
    background: #f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    padding: 20px;
}

.login-footer .left-section a {
    font-weight: bold;
    color: #8a8a8a;
    line-height: 19px;
}

.mg-btm {
    margin-bottom: 20px;
}

nav.navbar {
    background: #333;
    border-color: #333;
    border-radius: 0;
    padding: 10px 60px;
}

nav form {
    margin: auto auto;
}

nav a:hover {
    text-decoration: none;
}

nav .navbar-header .icon-bar {

}

nav .navbar-form {
    width: calc(100% - 85px - 281px - 236px - 50px);
}

nav .navbar-form > div.input-group {
    width: 100%;
}

nav .sign-in-btn {
    line-height: 0 !important;
    margin-top: 12px;
    margin-right: 12px;
    color: #fff !important;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 11px 15px !important;
}

nav .sign-in-btn:hover {
    border-color: #e5e5e5;
}

nav .sign-up-btn {
    line-height: 0 !important;
    margin-top: 12px;
    color: #fff !important;
    border-radius: 3px;
    background-color: #f50;
    border-color: #f50;
    padding: 11px 15px !important;
}

nav .sign-up-btn:hover {
    background-color: #f50 !important;
}

@media screen and (max-width: 767px) {
    nav .navbar-form {
        width: auto;
    }

    nav .sign-in-btn, nav .sign-up-btn {
        margin: 5px 15px;
        line-height: 1px !important;
    }
}
